body {
    font-size: 12px;
    background-color: #FFFFFF;
    color: #404040;
    font-family: "Open Sans", Helvetica, Tahoma, Arial, "PingFang SC", "Hiragino Sans GB", "Heiti SC", "Microsoft YaHei", "WenQuanYi Micro Hei", sans-serif;
}

a:visited {
    color: #0075c9;
}

a:hover {
    color: #009bdf;
}

a {
    text-decoration: none;
    line-height: 40px;
}

button {
    background-color: transparent;
    border: 0;
}