{% load static %}
<!DOCTYPE html>
<html lang="en">



<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0" />

    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,700" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css" type="text/css"
        rel="stylesheet" media="screen,projection" />

    <link rel="stylesheet" type="text/css" href="/static/TinyURL/css/home.css">
    <link rel="shortcut icon" href="/static/TinyURL/image/favicon.ico">

</head>


<title>Kiki - TinyURL</title>



	<div class="container valign-wrapper" style="height: 90vh;">
		<div class="section center valign" style="width: 100%;">
			<h5>短链接生成服务</h5>
			<div class="section" style="height: 10vh;">
				<div class="row">
					<div class="col s12 grey-text text-darken-1">默认使用md5算法</div>
				</div>
			</div>
			<div style="font-size: 12px;">
				<div class="row">
					<form class="col s12">

						<div class="row">
							<div class="input-field col s12">
								<input placeholder="https / http ..." id="enc_source" type="text" class="validate">
								<label for="enc_source">原始URL</label>
							</div>
						</div>
						<div class="row" style="font-size: 20px;">
							<div class="col s12">
								<button class="white" type="button" onclick="enc()" value="enc" id="encid">编码</button>
								<button class="white" type="button" onclick="dec()" value="dec" id="decid">解码</button>
							</div>
						</div>
						<div class="row">
							<div class="input-field col s12">
								<input placeholder="kiki.binacs.cn/r/ ..." id="dec_source" type="text" class="validate">
								<label for="dec_source">TinyURL</label>
							</div>
						</div>
					</form>
				</div>

				<script type="text/javascript">

					function enc() {
						$.ajax({
							'url': '/api/tinyurl/encode',
                            {#这个url对应#}
							'data': {
								"surl": $('#enc_source').val(),
							},
							'type': 'post',
							'dataType': "text",
							'success': function(data) {
								console.log("enc success")
								$('#dec_source').val(data);
							},
							error: function() {
								alert("异常！");
							}
						})
					}

					function dec() {
						$.ajax({
							'url': '/api/tinyurl/decode',
							'data': {
								"turl": $('#dec_source').val(),
							},
							'type': 'post',
							'dataType': "text",
							'success': function(data) {
								console.log("dec success")
								$('#enc_source').val(data);
							},
							error: function() {
								alert("异常！");
							}
						})
					}
				</script>
			</div>
		</div>
	</div>




<footer class="white">
    <div class="container"></div>
    <div class="footer-copyright">
        <div class="container center">
            <br>
            <a href="http://beian.miit.gov.cn/" target="_blank">TODO</a>
             - Powered by <a href="https://github.com/TracyYaoYao/LittleServer">server</a>
            <br>
        </div>
    </div>
</footer>


    <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>

</body>

</html>

